In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.float_format = '{:.2f}'.format

In [2]:
# Especificar o caminho do arquivo CSV
arquivo_csv = r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\COTAHIST_TODOS_ANOS.csv"

# Ler o arquivo CSV com a codificaÃ§Ã£o apropriada
preco_acoes_todos_os_anos = pd.read_csv(arquivo_csv, encoding='latin1')

# Exibir as primeiras linhas do dataframe lido
pd.DataFrame(preco_acoes_todos_os_anos)

,tipo_registro,data_pregao,cod_bdi,cod_negociacao,tipo_mercado,noma_empresa,especificacao_papel,prazo_dias_merc_termo,moeda_referencia,preco_abertura,...,numero_negocios,quantidade_papeis_negociados,volume_total_negociado,preco_exercicio,Ã¬ndicador_correcao_precos,data_vencimento,fator_cotacao,preco_exercicio_pontos,codigo_isin,num_distribuicao_papel
0,1,20140102,2.00,ABCB4,10,ABC BRASIL,PN EJS N2,NaN,R$,12.31,...,1544.00,361200.00,4307894.00,0.00,0.00,99991231.00,1.00,0.00,BRABCBACNPR4,121.00
1,1,20140102,96.00,ABCB4F,20,ABC BRASIL,PN EJS N2,NaN,R$,12.10,...,3.00,140.00,1686.10,0.00,0.00,99991231.00,1.00,0.00,BRABCBACNPR4,121.00
2,1,20140102,62.00,ABCB4T,30,ABC BRASIL,PN EJS N2,361.00,R$,13.46,...,2.00,100.00,1346.30,0.00,0.00,99991231.00,1.00,0.00,BRABCBACNPR4,121.00
3,1,20140102,2.00,ABEV3,10,AMBEV S/A,ON,NaN,R$,17.30,...,22569.00,8035400.00,139744724.00,0.00,0.00,99991231.00,1.00,0.00,BRABEVACNOR1,100.00
4,1,20140102,96.00,ABEV3F,20,AMBEV S/A,ON,NaN,R$,17.26,...,341.00,10790.00,187644.20,0.00,0.00,99991231.00,1.00,0.00,BRABEVACNOR1,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11587775,1,20240528,82.00,YDUQS207,80,YDUQE,ON NM,0.00,R$,7.01,...,1.00,900.00,6309.00,20.48,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587776,1,20240528,82.00,YDUQS142,80,YDUQE,ON NM,0.00,R$,1.36,...,5.00,4000.00,5697.00,13.98,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587777,1,20240528,82.00,YDUQS137,80,YDUQE FM,ON NM,0.00,R$,1.09,...,3.00,1900.00,2201.00,13.48,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587778,1,20240528,82.00,YDUQS132,80,YDUQE FM,ON NM,0.00,R$,0.89,...,3.00,2200.00,1972.00,12.98,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00
11587779,1,20240528,82.00,YDUQS122,80,YDUQE,ON NM,0.00,R$,0.40,...,3.00,2200.00,916.00,11.98,0.00,20240719.00,1.00,0.00,BRYDUQACNOR3,104.00

In [96]:
# Filtrando apenas as colunas desejadas
colunas_desejadas = ['data_pregao', 'cod_negociacao', 'noma_empresa', 'preco_ultimo_negocio']
preco_acoes = preco_acoes_todos_os_anos[colunas_desejadas]

# Filtrando apenas as empresas com cod_negociacao terminando em '3'
preco_acoes = preco_acoes[preco_acoes['cod_negociacao'].str.endswith('3')]

preco_acoes_final3 = preco_acoes 

# Exibindo o DataFrame filtrado
pd.DataFrame(preco_acoes_final3)

          data_pregao cod_negociacao  noma_empresa  preco_ultimo_negocio
3            20140102          ABEV3     AMBEV S/A                 17.39
8            20140102          AEDU3    ANHANGUERA                 14.55
11           20140102          AELP3      AES ELPA                  8.71
12           20140102          AGRO3    BRASILAGRO                  9.50
13           20140102          ALLL3  ALL AMER LAT                  6.30
...               ...            ...           ...                   ...
11587615     20240528       VIVAF233          VIVA                  0.23
11587616     20240528       VIVTR453         VIVTE                  0.02
11587622     20240528       VIVTF483      VIVT  FM                  0.31
11587624     20240528       VIVTR463     VIVTE  FM                  0.59
11587681     20240528       WEGEH403          WEGE                  0.83

[1067465 rows x 4 columns]

In [98]:
# Filtrando apenas os cÃ³digos de negociaÃ§Ã£o que terminam exatamente com '3'
preco_acoes_final3= preco_acoes_final3[preco_acoes_final3['cod_negociacao'].str.match(r'^[A-Z]{4}3$')]

pd.DataFrame(preco_acoes_final3)

          data_pregao cod_negociacao  noma_empresa  preco_ultimo_negocio
3            20140102          ABEV3     AMBEV S/A                 17.39
8            20140102          AEDU3    ANHANGUERA                 14.55
11           20140102          AELP3      AES ELPA                  8.71
12           20140102          AGRO3    BRASILAGRO                  9.50
13           20140102          ALLL3  ALL AMER LAT                  6.30
...               ...            ...           ...                   ...
10751004     20240528          ETER3       ETERNIT                  6.18
10751005     20240528          CTNM3     COTEMINAS                  8.25
10751007     20240528          CTSA3    SANTANENSE                  2.44
10751009     20240528          AMER3    AMERICANAS                  0.53
10751011     20240528          NEXP3         NEXPE                  4.13

[599884 rows x 4 columns]

In [110]:
# Especificar o caminho do arquivo Excel
arquivo_excel = r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\cnpj_acoes_b3.xlsx"

# Ler o arquivo Excel
df_cnpj_acoes_b3 = pd.read_excel(arquivo_excel)

# Exibir as primeiras linhas do dataframe
print(df_cnpj_acoes_b3.head())

  CNPJ das empresas listadas na B3          Unnamed: 1  \
0                           Ticker  DenominaÃ§Ã£o social
1                            AALR3              Alliar
2                            ABCB4          Abc Brasil
3                            ABEV3           Ambev S/A
4                            AERI3               Aeris

                                          Unnamed: 2      Unnamed: 3
0                                     Nome de pregÃ£o            CNPJ
1                 CENTRO DE IMAGEM DIAGNOSTICOS S.A.  42771949000135
2                                BCO ABC BRASIL S.A.  28195667000106
3                                         AMBEV S.A.  07526557000100
4  AERIS IND. E COM. DE EQUIP. GERACAO DE ENERGIA...  12528708000107

In [113]:
# Especificar o caminho do arquivo CSV de saÃ­da
arquivo_cnpj_acoes_csv = r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\cnpj_acoes_b3.csv"

# Salvar o DataFrame como um arquivo CSV
df_cnpj_acoes_b3.to_csv(arquivo_cnpj_acoes_csv, index=False, encoding='utf-8')

# Ler o arquivo Excel, especificando a segunda linha como cabeÃ§alho (index 1)
df_cnpj_acoes_b3 = pd.read_excel(arquivo_excel, header=1)


# Exibir as primeiras linhas do DataFrame lido do CSV
pd.DataFrame(df_cnpj_acoes_b3)

,Ticker,DenominaÃ§Ã£o social,Nome de pregÃ£o,CNPJ
0,AALR3,Alliar,CENTRO DE IMAGEM DIAGNOSTICOS S.A.,42771949000135
1,ABCB4,Abc Brasil,BCO ABC BRASIL S.A.,28195667000106
2,ABEV3,Ambev S/A,AMBEV S.A.,7526557000100
3,AERI3,Aeris,AERIS IND. E COM. DE EQUIP. GERACAO DE ENERGIA...,12528708000107
4,AESB3,AES Brasil,AES BRASIL ENERGIA S.A.,37663076000107
...,...,...,...,...
553,WLMM3,Wlm Ind Com,WLM PART. E COMÃRCIO DE MÃQUINAS E VEÃCULOS S.A.,33228024000151
554,WLMM4,Wlm Ind Com,WLM PART. E COMÃRCIO DE MÃQUINAS E VEÃCULOS S.A.,33228024000151
555,YBRA3B,Ybyra S/A,YBRA3 TENNOLOGIA LTDA,2217319000107
556,YDUQ3,Yduqs Part,YDUQS PARTICIPACOES S.A.,8807432000110
557,ZAMP3,ZAMP S.A.,ZAMP S.A.,13574594000196

In [115]:
# Criar o dicionÃ¡rio de mapeamento do Ticker para o CNPJ
ticker_to_cnpj = dict(zip(df_cnpj_acoes_b3['Ticker'], df_cnpj_acoes_b3['CNPJ']))

# Adicionar a coluna CNPJ ao DataFrame preco_acoes_filtrado_final3
preco_acoes_final3['CNPJ'] = preco_acoes_final3['cod_negociacao'].map(ticker_to_cnpj)

# Reorganizar as colunas para colocar a coluna CNPJ antes de cod_negociacao
colunas_ordenadas = ['data_pregao', 'CNPJ', 'cod_negociacao', 'noma_empresa', 'preco_ultimo_negocio']
preco_acoes_final3_cnpj = preco_acoes_final3[colunas_ordenadas]

# Exibir as primeiras linhas do DataFrame atualizado

pd.DataFrame(preco_acoes_final3_cnpj)

,data_pregao,CNPJ,cod_negociacao,noma_empresa,preco_ultimo_negocio
1191218,2016-10-28,42771949000135.00,AALR3,ALLIAR,19.20
1193007,2016-10-31,42771949000135.00,AALR3,ALLIAR,18.06
1194902,2016-11-01,42771949000135.00,AALR3,ALLIAR,17.90
1196783,2016-11-03,42771949000135.00,AALR3,ALLIAR,17.99
1198819,2016-11-04,42771949000135.00,AALR3,ALLIAR,17.75
...,...,...,...,...,...
10744183,2024-05-22,13574594000196.00,ZAMP3,ZAMP S.A.,3.17
10746011,2024-05-23,13574594000196.00,ZAMP3,ZAMP S.A.,3.07
10747550,2024-05-24,13574594000196.00,ZAMP3,ZAMP S.A.,2.99
10749144,2024-05-27,13574594000196.00,ZAMP3,ZAMP S.A.,2.99
10750782,2024-05-28,13574594000196.00,ZAMP3,ZAMP S.A.,3.02

In [117]:
pasta_salvar = r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\preco_acoes_final3_cnpj.csv"

# Salvar o dataframe filtrado
preco_acoes_final3_cnpj.to_csv(pasta_salvar, index=False)