In [22]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [23]:
df_dredata_tri = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\data_pre_resume_cvm\resume_dredata_tri.csv")

In [24]:
df_dredata_tri

,Unnamed: 0,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,1,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2014-01-01,2014-03-31,3.01,Receitas da Intermediação Financeira,28664624.00,S
1,3,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2014-01-01,2014-03-31,3.01.01,Operações de Crédito,17967993.00,N
2,5,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2014-01-01,2014-03-31,3.01.02,Operações de arrendamento mercantil,313.00,N
3,7,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2014-01-01,2014-03-31,3.01.03,Resultado de operações com TVM,9320450.00,N
4,9,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2014-01-01,2014-03-31,3.01.04,Resultado de IFD,-771973.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1068005,2132378,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2023-07-01,2023-09-30,3.99.01.01,ON,0.37,N
1068006,2132381,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2023-01-01,2023-09-30,3.99.02,Lucro Diluído por Ação,0.00,N
1068007,2132382,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2023-07-01,2023-09-30,3.99.02,Lucro Diluído por Ação,0.00,N
1068008,2132385,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2023-01-01,2023-09-30,3.99.02.01,ON,0.74,N
1068009,2132386,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,REAL,MIL,ÚLTIMO,2023-07-01,2023-09-30,3.99.02.01,ON,0.37,N

In [25]:
df_dredata_tri = df_dredata_tri.drop(columns=['VERSAO', 'MOEDA', 'ORDEM_EXERC', 'ST_CONTA_FIXA','ESCALA_MOEDA','DT_REFER','DT_INI_EXERC'])
df_dredata_tri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1068010 entries, 0 to 1068009
Data columns (total 9 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1068010 non-null  int64
 1   CNPJ_CIA      1068010 non-null  object
 2   DENOM_CIA     1068010 non-null  object
 3   CD_CVM        1068010 non-null  int64
 4   GRUPO_DFP     1068010 non-null  object
 5   DT_FIM_EXERC  1068010 non-null  object
 6   CD_CONTA      1068010 non-null  object
 7   DS_CONTA      1067994 non-null  object
 8   VL_CONTA      1068010 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 73.3+ MB

In [26]:
df_dredata_tri.to_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\data_pre_resume_cvm\df_dredata_tri_bruto.csv")

In [27]:
# Contas de interesse que queremos filtrar
selected_accounts = [
    "Receitas",
    "Resultado Operacional",
    "Lucro/Prejuízo do Período",
    "Lucro por Ação - (R$ / Ação)",
    "Resultado Bruto Intermediação Financeira",
    "Resultado Bruto de Serviços",
    "Outras Despesas/Receitas Operacionais",
    "Despesas Operacionais",
    "Resultado Antes do Resultado Financeiro e dos Tributos"
]
# Filtrando o dataframe para incluir apenas essas contas
df_dredata_tri_resume = df_dredata_tri[df_dredata_tri['DS_CONTA'].isin(selected_accounts)]

# Exibir o dataframe filtrado
df_dredata_tri_resume

,Unnamed: 0,CNPJ_CIA,DENOM_CIA,CD_CVM,GRUPO_DFP,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA
14,29,00.000.000/0001-91,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,2014-03-31,3.03,Resultado Bruto Intermediação Financeira,6739034.00
15,31,00.000.000/0001-91,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,2014-03-31,3.04,Outras Despesas/Receitas Operacionais,-3021304.00
23,47,00.000.000/0001-91,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,2014-03-31,3.05,Resultado Operacional,3717730.00
25,51,00.000.000/0001-91,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,2014-03-31,3.06.01,Receitas,33350.00
36,73,00.000.000/0001-91,BCO BRASIL S.A.,1023,DF Individual - Demonstração do Resultado,2014-03-31,3.13,Lucro/Prejuízo do Período,2774858.00
...,...,...,...,...,...,...,...,...,...
1067939,2132246,97.837.181/0001-47,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,2023-06-30,3.11,Lucro/Prejuízo do Período,157658.00
1067974,2132317,97.837.181/0001-47,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,2023-09-30,3.05,Resultado Antes do Resultado Financeiro e dos ...,727337.00
1067975,2132318,97.837.181/0001-47,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,2023-09-30,3.05,Resultado Antes do Resultado Financeiro e dos ...,226390.00
1067998,2132365,97.837.181/0001-47,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,2023-09-30,3.11,Lucro/Prejuízo do Período,602688.00
1067999,2132366,97.837.181/0001-47,DEXCO S.A.,21091,DF Individual - Demonstração do Resultado,2023-09-30,3.11,Lucro/Prejuízo do Período,297376.00

In [28]:
df_pivot_dre_tri_resume_res = df_dredata_tri_resume[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM',
       'DT_FIM_EXERC', 'CD_CONTA', 'DS_CONTA', 'VL_CONTA']]
df_pivot_dre_tri_resume_res

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA
14,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,3.03,Resultado Bruto Intermediação Financeira,6739034.00
15,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,3.04,Outras Despesas/Receitas Operacionais,-3021304.00
23,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,3.05,Resultado Operacional,3717730.00
25,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,3.06.01,Receitas,33350.00
36,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,3.13,Lucro/Prejuízo do Período,2774858.00
...,...,...,...,...,...,...,...
1067939,97.837.181/0001-47,DEXCO S.A.,21091,2023-06-30,3.11,Lucro/Prejuízo do Período,157658.00
1067974,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,3.05,Resultado Antes do Resultado Financeiro e dos ...,727337.00
1067975,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,3.05,Resultado Antes do Resultado Financeiro e dos ...,226390.00
1067998,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,3.11,Lucro/Prejuízo do Período,602688.00
1067999,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,3.11,Lucro/Prejuízo do Período,297376.00

In [29]:
# Criar a coluna 'CD_DS_CONTA' combinando 'CD_CONTA' e 'DS_CONTA'
df_pivot_dre_tri_resume_res['CD_DS_CONTA'] = df_pivot_dre_tri_resume_res['CD_CONTA'] + ' - ' + df_pivot_dre_tri_resume_res['DS_CONTA']

# Realizar a pivotagem para transformar as contas em colunas
df_pivot_dre_tri_resume_res = df_pivot_dre_tri_resume_res.pivot_table(
    index=['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC'], 
    columns='CD_DS_CONTA', 
    values='VL_CONTA'
).reset_index()

# Exibir o dataframe pivotado
df_pivot_dre_tri_resume_res

C:\Users\usuario\AppData\Local\Temp\ipykernel_8480\858799759.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pivot_dre_tri_resume_res['CD_DS_CONTA'] = df_pivot_dre_tri_resume_res['CD_CONTA'] + ' - ' + df_pivot_dre_tri_resume_res['DS_CONTA']

CD_DS_CONTA,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,3.03 - Resultado Bruto Intermediação Financeira,3.04 - Outras Despesas/Receitas Operacionais,3.04.01.01 - Despesas Operacionais,3.04.04.01 - Outras Despesas/Receitas Operacionais,3.04.04.02 - Receitas,3.04.05.02 - Despesas Operacionais,3.04.05.03 - Despesas Operacionais,3.04.05.03 - Outras Despesas/Receitas Operacionais,3.05 - Resultado Antes do Resultado Financeiro e dos Tributos,3.05 - Resultado Operacional,3.06.01 - Receitas,3.07 - Resultado Antes do Resultado Financeiro e dos Tributos,3.08.01 - Receitas,3.11 - Lucro/Prejuízo do Período,3.13 - Lucro/Prejuízo do Período,3.99 - Lucro por Ação - (R$ / Ação)
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,6739034.00,-3021304.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3717730.00,33350.00,NaN,NaN,NaN,2774858.00,0.99
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30,9733497.00,-4427997.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5305500.00,62444.00,NaN,NaN,NaN,4177761.00,1.50
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-09-30,11658791.00,-5628537.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6030253.50,91842.50,NaN,NaN,NaN,5525412.00,1.98
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-03-31,3124538.00,1470558.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4595096.00,17453.00,NaN,NaN,NaN,5675916.00,2.07
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-06-30,8280269.00,-2694509.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5585760.00,41204.50,NaN,NaN,NaN,5768503.00,2.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19482,97.837.181/0001-47,DURATEX S.A.,21091,2015-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124258.50,NaN,NaN,NaN,NaN,70214.50,NaN,NaN
19483,97.837.181/0001-47,DURATEX S.A.,21091,2015-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159182.50,NaN,NaN,NaN,NaN,79926.50,NaN,NaN
19484,97.837.181/0001-47,DURATEX S.A.,21091,2016-03-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7149.00,NaN,NaN,NaN,NaN,-31122.00,NaN,NaN
19485,97.837.181/0001-47,DURATEX S.A.,21091,2016-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35062.50,NaN,NaN,NaN,NaN,-15678.00,NaN,NaN
19486,97.837.181/0001-47,DURATEX S.A.,21091,2016-09-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92018.00,NaN,NaN,NaN,NaN,14123.50,NaN,NaN

In [30]:
df_pivot_dre_tri_resume_res.to_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\data_pre_resume_cvm\df_dre_tri_resume_pre_analysis.csv")

In [31]:
# Identificando as colunas que contêm as variações de Receita, Lucro/Prejuízo e Resultado Operacional (3.05)
receita_columns = [col for col in df_pivot_dre_tri_resume_res.columns if 'Receita' in col]
lucro_prejuizo_columns = [col for col in df_pivot_dre_tri_resume_res.columns if 'Lucro/Prejuízo' in col]
resultado_operacional_columns = [col for col in df_pivot_dre_tri_resume_res.columns if col.startswith('3.05')]

# Criando as colunas consolidadas, pegando o primeiro valor não nulo para cada linha
df_pivot_dre_tri_resume_res['Receita Consolidada'] = df_pivot_dre_tri_resume_res[receita_columns].bfill(axis=1).iloc[:, 0]
df_pivot_dre_tri_resume_res['Lucro/Prejuízo Consolidado'] = df_pivot_dre_tri_resume_res[lucro_prejuizo_columns].bfill(axis=1).iloc[:, 0]
df_pivot_dre_tri_resume_res['Resultado Operacional Consolidado'] = df_pivot_dre_tri_resume_res[resultado_operacional_columns].bfill(axis=1).iloc[:, 0]



# Exibir o dataframe pivotado com as novas colunas
df_pivot_dre_tri_resume_res

CD_DS_CONTA,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,3.03 - Resultado Bruto Intermediação Financeira,3.04 - Outras Despesas/Receitas Operacionais,3.04.01.01 - Despesas Operacionais,3.04.04.01 - Outras Despesas/Receitas Operacionais,3.04.04.02 - Receitas,3.04.05.02 - Despesas Operacionais,...,3.05 - Resultado Operacional,3.06.01 - Receitas,3.07 - Resultado Antes do Resultado Financeiro e dos Tributos,3.08.01 - Receitas,3.11 - Lucro/Prejuízo do Período,3.13 - Lucro/Prejuízo do Período,3.99 - Lucro por Ação - (R$ / Ação),Receita Consolidada,Lucro/Prejuízo Consolidado,Resultado Operacional Consolidado
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,6739034.00,-3021304.00,NaN,NaN,NaN,NaN,...,3717730.00,33350.00,NaN,NaN,NaN,2774858.00,0.99,-3021304.00,2774858.00,3717730.00
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30,9733497.00,-4427997.00,NaN,NaN,NaN,NaN,...,5305500.00,62444.00,NaN,NaN,NaN,4177761.00,1.50,-4427997.00,4177761.00,5305500.00
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-09-30,11658791.00,-5628537.50,NaN,NaN,NaN,NaN,...,6030253.50,91842.50,NaN,NaN,NaN,5525412.00,1.98,-5628537.50,5525412.00,6030253.50
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-03-31,3124538.00,1470558.00,NaN,NaN,NaN,NaN,...,4595096.00,17453.00,NaN,NaN,NaN,5675916.00,2.07,1470558.00,5675916.00,4595096.00
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-06-30,8280269.00,-2694509.00,NaN,NaN,NaN,NaN,...,5585760.00,41204.50,NaN,NaN,NaN,5768503.00,2.06,-2694509.00,5768503.00,5585760.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19482,97.837.181/0001-47,DURATEX S.A.,21091,2015-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70214.50,NaN,NaN,NaN,70214.50,124258.50
19483,97.837.181/0001-47,DURATEX S.A.,21091,2015-09-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,79926.50,NaN,NaN,NaN,79926.50,159182.50
19484,97.837.181/0001-47,DURATEX S.A.,21091,2016-03-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-31122.00,NaN,NaN,NaN,-31122.00,-7149.00
19485,97.837.181/0001-47,DURATEX S.A.,21091,2016-06-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-15678.00,NaN,NaN,NaN,-15678.00,35062.50
19486,97.837.181/0001-47,DURATEX S.A.,21091,2016-09-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,14123.50,NaN,NaN,NaN,14123.50,92018.00

In [45]:
df_pivot_dre_tri_resume_res.columns

Index(['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC',
       '3.05 - Resultado Operacional', '3.99 - Lucro por Ação - (R$ / Ação)',
       'Receita Consolidada', 'Lucro/Prejuízo Consolidado'],
      dtype='object', name='CD_DS_CONTA')

In [34]:
df_pivot_dre_tri_resume_res = df_pivot_dre_tri_resume_res[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC','Resultado Operacional Consolidado','Lucro/Prejuízo Consolidado']]

In [35]:
df_pivot_dre_tri_resume_res

CD_DS_CONTA,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,Resultado Operacional Consolidado,Lucro/Prejuízo Consolidado
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,3717730.00,2774858.00
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30,5305500.00,4177761.00
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-09-30,6030253.50,5525412.00
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-03-31,4595096.00,5675916.00
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-06-30,5585760.00,5768503.00
...,...,...,...,...,...,...
19482,97.837.181/0001-47,DURATEX S.A.,21091,2015-06-30,124258.50,70214.50
19483,97.837.181/0001-47,DURATEX S.A.,21091,2015-09-30,159182.50,79926.50
19484,97.837.181/0001-47,DURATEX S.A.,21091,2016-03-31,-7149.00,-31122.00
19485,97.837.181/0001-47,DURATEX S.A.,21091,2016-06-30,35062.50,-15678.00
19486,97.837.181/0001-47,DURATEX S.A.,21091,2016-09-30,92018.00,14123.50

In [36]:
df_cnpj_acoes_b3 = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\cnpj_acoes_b3.csv")

In [37]:
df_cnpj_acoes_b3

,CNPJ das empresas listadas na B3,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Ticker,Denominação social,Nome de pregão,CNPJ
1,AALR3,Alliar,CENTRO DE IMAGEM DIAGNOSTICOS S.A.,42771949000135
2,ABCB4,Abc Brasil,BCO ABC BRASIL S.A.,28195667000106
3,ABEV3,Ambev S/A,AMBEV S.A.,07526557000100
4,AERI3,Aeris,AERIS IND. E COM. DE EQUIP. GERACAO DE ENERGIA...,12528708000107
...,...,...,...,...
554,WLMM3,Wlm Ind Com,WLM PART. E COMÉRCIO DE MÁQUINAS E VEÍCULOS S.A.,33228024000151
555,WLMM4,Wlm Ind Com,WLM PART. E COMÉRCIO DE MÁQUINAS E VEÍCULOS S.A.,33228024000151
556,YBRA3B,Ybyra S/A,YBRA3 TENNOLOGIA LTDA,02217319000107
557,YDUQ3,Yduqs Part,YDUQS PARTICIPACOES S.A.,08807432000110
558,ZAMP3,ZAMP S.A.,ZAMP S.A.,13574594000196

In [38]:
# Renomear colunas no segundo dataframe para facilitar a fusão dos datasets
df_cnpj_acoes_b3_clean = df_cnpj_acoes_b3.rename(columns={
    "CNPJ das empresas listadas na B3": "Ticker",
    "Unnamed: 1": "Denominação social",
    "Unnamed: 2": "Nome de pregão",
    "Unnamed: 3": "CNPJ"
})

# Remover a primeira linha que contém os cabeçalhos duplicados
df_cnpj_acoes_b3_clean = df_cnpj_acoes_b3_clean.drop(index=0)

# Corrigir o formato do CNPJ para garantir a correspondência entre os dataframes
df_cnpj_acoes_b3_clean['CNPJ'] = df_cnpj_acoes_b3_clean['CNPJ'].str.replace(r'\D', '', regex=True)
df_pivot_dre_tri_resume_res['CNPJ_CIA'] = df_pivot_dre_tri_resume_res['CNPJ_CIA'].str.replace(r'\D', '', regex=True)

# Realizar o merge dos datasets com base no CNPJ e mantendo o Ticker
df_merged_with_ticker = pd.merge(
    df_pivot_dre_tri_resume_res, 
    df_cnpj_acoes_b3_clean[['Ticker', 'CNPJ']], 
    left_on='CNPJ_CIA', 
    right_on='CNPJ', 
    how='inner'
)

df_pivot_dre_tri_resume_res = df_merged_with_ticker

In [39]:
df_pivot_dre_tri_resume_res

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,Resultado Operacional Consolidado,Lucro/Prejuízo Consolidado,Ticker,CNPJ
0,00000000000191,BCO BRASIL S.A.,1023,2014-03-31,3717730.00,2774858.00,BBAS3,00000000000191
1,00000000000191,BCO BRASIL S.A.,1023,2014-06-30,5305500.00,4177761.00,BBAS3,00000000000191
2,00000000000191,BCO BRASIL S.A.,1023,2014-09-30,6030253.50,5525412.00,BBAS3,00000000000191
3,00000000000191,BCO BRASIL S.A.,1023,2015-03-31,4595096.00,5675916.00,BBAS3,00000000000191
4,00000000000191,BCO BRASIL S.A.,1023,2015-06-30,5585760.00,5768503.00,BBAS3,00000000000191
...,...,...,...,...,...,...,...,...
14484,97837181000147,DURATEX S.A.,21091,2015-06-30,124258.50,70214.50,DXCO3,97837181000147
14485,97837181000147,DURATEX S.A.,21091,2015-09-30,159182.50,79926.50,DXCO3,97837181000147
14486,97837181000147,DURATEX S.A.,21091,2016-03-31,-7149.00,-31122.00,DXCO3,97837181000147
14487,97837181000147,DURATEX S.A.,21091,2016-06-30,35062.50,-15678.00,DXCO3,97837181000147
14488,97837181000147,DURATEX S.A.,21091,2016-09-30,92018.00,14123.50,DXCO3,97837181000147

In [40]:
df_pivot_dre_tri_resume_res.columns

Index(['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC',
       'Resultado Operacional Consolidado', 'Lucro/Prejuízo Consolidado',
       'Ticker', 'CNPJ'],
      dtype='object')

In [41]:
# Reordenar as colunas conforme o que foi solicitado
df_pivot_dre_tri_resume_res = df_pivot_dre_tri_resume_res[[
    'CNPJ', 'Ticker', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC','Resultado Operacional Consolidado', 'Lucro/Prejuízo Consolidado'
]]

# Exibir DataFrame reorganizado
df_pivot_dre_tri_resume_res

,CNPJ,Ticker,DENOM_CIA,CD_CVM,DT_FIM_EXERC,Resultado Operacional Consolidado,Lucro/Prejuízo Consolidado
0,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2014-03-31,3717730.00,2774858.00
1,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2014-06-30,5305500.00,4177761.00
2,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2014-09-30,6030253.50,5525412.00
3,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2015-03-31,4595096.00,5675916.00
4,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2015-06-30,5585760.00,5768503.00
...,...,...,...,...,...,...,...
14484,97837181000147,DXCO3,DURATEX S.A.,21091,2015-06-30,124258.50,70214.50
14485,97837181000147,DXCO3,DURATEX S.A.,21091,2015-09-30,159182.50,79926.50
14486,97837181000147,DXCO3,DURATEX S.A.,21091,2016-03-31,-7149.00,-31122.00
14487,97837181000147,DXCO3,DURATEX S.A.,21091,2016-06-30,35062.50,-15678.00
14488,97837181000147,DXCO3,DURATEX S.A.,21091,2016-09-30,92018.00,14123.50

In [42]:
df_pivot_dre_tri_resume_res.to_csv(r'C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\dre_tri_res.csv')

In [43]:
df_dre = pd.read_csv(r'C:\Users\usuario\Desktop\Programacao\financeml\src\data\dre_resume\dre_tri_res.csv')

In [44]:
df_dre

,CNPJ,Ticker,DENOM_CIA,CD_CVM,DT_FIM_EXERC,Resultado Operacional Consolidado,Lucro/Prejuízo Consolidado
0,191,BBAS3,BCO BRASIL S.A.,1023,2014-03-31,3717730.00,2774858.00
1,191,BBAS3,BCO BRASIL S.A.,1023,2014-06-30,5305500.00,4177761.00
2,191,BBAS3,BCO BRASIL S.A.,1023,2014-09-30,6030253.50,5525412.00
3,191,BBAS3,BCO BRASIL S.A.,1023,2015-03-31,4595096.00,5675916.00
4,191,BBAS3,BCO BRASIL S.A.,1023,2015-06-30,5585760.00,5768503.00
...,...,...,...,...,...,...,...
15527,97837181000147,DXCO3,DEXCO S.A.,21091,2023-03-31,259829.00,147654.00
15528,97837181000147,DXCO3,DEXCO S.A.,21091,2023-06-30,371032.50,231485.00
15529,97837181000147,DXCO3,DEXCO S.A.,21091,2023-09-30,476863.50,450032.00
15530,97837181000147,DXCO3,DEXCO S.A.,21091,2024-03-31,43678.00,-39471.00
15531,97837181000147,DXCO3,DEXCO S.A.,21091,2024-06-30,210871.00,77290.50