In [86]:
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format

In [87]:
df_balancedata_tri = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\data_pre_resume_cvm\resume_balancedata_tri.csv")

In [88]:
df_balancedata_tri

,Unnamed: 0,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
0,1,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2014-03-31,1,Ativo Total,1294187527.00,S
1,3,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2014-03-31,1.01,Ativo Circulante,753744537.00,S
2,5,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2014-03-31,1.01.01,Disponibilidades,9615019.00,S
3,7,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2014-03-31,1.01.02,Aplicações Interfinanceiras de Liquidez,326385945.00,S
4,9,00.000.000/0001-91,2014-03-31,1,BCO BRASIL S.A.,1023,DF Individual - Balanço Patrimonial Ativo,REAL,MIL,ÚLTIMO,2014-03-31,1.01.02.01,Aplicações no Mercado Aberto,245731900.00,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3418664,4255720,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2023-09-30,2.03.04.09,Ações em Tesouraria,-140457.00,S
3418665,4255722,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2023-09-30,2.03.05,Lucros/Prejuízos Acumulados,0.00,S
3418666,4255724,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2023-09-30,2.03.06,Ajustes de Avaliação Patrimonial,507965.00,S
3418667,4255726,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2023-09-30,2.03.07,Ajustes Acumulados de Conversão,0.00,S
3418668,4255728,97.837.181/0001-47,2023-09-30,1,DEXCO S.A.,21091,DF Individual - Balanço Patrimonial Passivo,REAL,MIL,ÚLTIMO,2023-09-30,2.03.08,Outros Resultados Abrangentes,0.00,S

In [89]:
# Unificar a remoção de colunas em uma única linha de código
df_balancedata_tri = df_balancedata_tri.drop(columns=[
    'ESCALA_MOEDA', 'DT_REFER', 'GRUPO_DFP', 'Unnamed: 0', 
    'VERSAO', 'MOEDA', 'ORDEM_EXERC', 'ST_CONTA_FIXA'
])

# Exibir as informações do dataframe resultante
df_balancedata_tri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3418669 entries, 0 to 3418668
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   CNPJ_CIA      object
 1   DENOM_CIA     object
 2   CD_CVM        int64
 3   DT_FIM_EXERC  object
 4   CD_CONTA      object
 5   DS_CONTA      object
 6   VL_CONTA      float64
dtypes: float64(1), int64(1), object(5)
memory usage: 182.6+ MB

In [90]:
df_balancedata_tri

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1,Ativo Total,1294187527.00
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1.01,Ativo Circulante,753744537.00
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1.01.01,Disponibilidades,9615019.00
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1.01.02,Aplicações Interfinanceiras de Liquidez,326385945.00
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1.01.02.01,Aplicações no Mercado Aberto,245731900.00
...,...,...,...,...,...,...,...
3418664,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.03.04.09,Ações em Tesouraria,-140457.00
3418665,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.03.05,Lucros/Prejuízos Acumulados,0.00
3418666,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.03.06,Ajustes de Avaliação Patrimonial,507965.00
3418667,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.03.07,Ajustes Acumulados de Conversão,0.00
3418668,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.03.08,Outros Resultados Abrangentes,0.00

In [91]:
# Export the unique account codes and descriptions to a CSV file
df_balancedata_tri.to_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\data_pre_resume_cvm\df_balancedata_tri_resume.csv")

In [92]:
# Lista completa de contas, incluindo "Ativo Não Circulante" e "Ativo Realizável a Longo Prazo"
full_cd_conta_list = [    
    ('1', 'Ativo Total'),
    ('1.01', 'Ativo Circulante'),
    ('1.02', 'Ativo Não Circulante'),  # Adicionando o Ativo Não Circulante
    ('1.02', 'Ativo Realizável a Longo Prazo'),  # Adicionando o Ativo Realizável a Longo Prazo
    ('1.02.01', 'Ativo Realizável a Longo Prazo'),  # Subconta de Ativo Realizável a Longo Prazo
    ('2.01', 'Passivo Circulante'),
    ('2.02', 'Passivo Não Circulante'),
    ('2.03', 'Patrimônio Líquido'),
    ('2.03.08.02', 'Lucro/Prejuízo do Exercício'),
    ('2.05', 'Patrimônio Líquido'),
    ('2.07', 'Patrimônio Líquido')
]

# Convertendo a lista em um DataFrame
df_resume_list = pd.DataFrame(full_cd_conta_list, columns=['CD_CONTA', 'DS_CONTA'])

# Realizando o filtro no DataFrame original (unique_accounts_df)
df_balancedata_tri_resume = df_balancedata_tri.merge(df_resume_list, on=['CD_CONTA', 'DS_CONTA'])

# Exibindo o DataFrame filtrado
df_balancedata_tri_resume

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1,Ativo Total,1294187527.00
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1.01,Ativo Circulante,753744537.00
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1.02,Ativo Realizável a Longo Prazo,503082573.00
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30,1,Ativo Total,1344627835.00
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30,1.01,Ativo Circulante,739026339.00
...,...,...,...,...,...,...,...
135161,97.837.181/0001-47,DEXCO S.A.,21091,2023-06-30,2.02,Passivo Não Circulante,4816521.00
135162,97.837.181/0001-47,DEXCO S.A.,21091,2023-06-30,2.03,Patrimônio Líquido,6032693.00
135163,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.01,Passivo Circulante,2774281.00
135164,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.02,Passivo Não Circulante,4865476.00
135165,97.837.181/0001-47,DEXCO S.A.,21091,2023-09-30,2.03,Patrimônio Líquido,6411574.00

In [93]:
# Export the unique account codes and descriptions to a CSV file
df_balancedata_tri_resume.to_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\data_pre_resume_cvm\df_balancedata_tri_resume.csv")

In [94]:
df_balancedata_tri_resume.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135166 entries, 0 to 135165
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CNPJ_CIA      135166 non-null  object
 1   DENOM_CIA     135166 non-null  object
 2   CD_CVM        135166 non-null  int64
 3   DT_FIM_EXERC  135166 non-null  object
 4   CD_CONTA      135166 non-null  object
 5   DS_CONTA      135166 non-null  object
 6   VL_CONTA      135166 non-null  float64
dtypes: float64(1), int64(1), object(5)
memory usage: 7.2+ MB

In [95]:
df_balancedata_tri_resume.isnull().sum()

CNPJ_CIA        0
DENOM_CIA       0
CD_CVM          0
DT_FIM_EXERC    0
CD_CONTA        0
DS_CONTA        0
VL_CONTA        0
dtype: int64

In [96]:
df_balancedata_tri_resume.DS_CONTA.describe()

count                 135166
unique                     8
top       Patrimônio Líquido
freq                   19725
Name: DS_CONTA, dtype: object

In [97]:
# Criar uma nova coluna que combina 'CD_CONTA' e 'DS_CONTA'
df_balancedata_tri_resume['CD_DS_CONTA'] = df_balancedata_tri_resume['CD_CONTA'].astype(str) + ' - ' + df_balancedata_tri_resume['DS_CONTA']

# Pivotar o DataFrame para transformar 'CD_DS_CONTA' em colunas, com 'VL_CONTA' como valores
df_balance_tri_resume_col= df_balancedata_tri_resume.pivot_table(
    index=['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC'],
    columns='CD_DS_CONTA',
    values='VL_CONTA',
    aggfunc='sum'  # Caso haja entradas duplicadas, somamos os valores
).reset_index()

# Exibir as primeiras linhas do DataFrame transformado
print(df_balance_tri_resume_col.head())

CD_DS_CONTA            CNPJ_CIA        DENOM_CIA  CD_CVM DT_FIM_EXERC  \
0            00.000.000/0001-91  BCO BRASIL S.A.    1023   2014-03-31
1            00.000.000/0001-91  BCO BRASIL S.A.    1023   2014-06-30
2            00.000.000/0001-91  BCO BRASIL S.A.    1023   2014-09-30
3            00.000.000/0001-91  BCO BRASIL S.A.    1023   2015-03-31
4            00.000.000/0001-91  BCO BRASIL S.A.    1023   2015-06-30

CD_DS_CONTA  1 - Ativo Total  1.01 - Ativo Circulante  \
0              1294187527.00             753744537.00
1              1344627835.00             739026339.00
2              1369739682.00             770692909.00
3              1465549447.00             730302299.00
4              1460958067.00             726631228.00

CD_DS_CONTA  1.02 - Ativo Não Circulante  \
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN

CD_DS_CONTA  1.02 - Ativo Realizável a Longo Prazo  \
0                                     503082573.00
1                                     570702956.00
2                                     562762183.00
3                                     693122104.00
4                                     693581790.00

CD_DS_CONTA  1.02.01 - Ativo Realizável a Longo Prazo  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN

CD_DS_CONTA  2.01 - Passivo Circulante  2.02 - Passivo Não Circulante  \
0                         839101217.00                            NaN
1                         886841959.00                            NaN
2                         907583262.00                            NaN
3                         979510346.00                            NaN
4                         959522792.00                            NaN

CD_DS_CONTA  2.03 - Patrimônio Líquido  \
0                                  NaN
1                                  NaN
2                                  NaN
3                                  NaN
4                                  NaN

CD_DS_CONTA  2.03.08.02 - Lucro/Prejuízo do Exercício  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN

CD_DS_CONTA  2.05 - Patrimônio Líquido  2.07 - Patrimônio Líquido
0                          71464555.00                        NaN
1                          69442420.00                        NaN
2                          78845901.00                        NaN
3                          72600519.00                        NaN
4                          71944144.00                        NaN

In [98]:
df_balance_tri_resume_col.columns

Index(['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC', '1 - Ativo Total',
       '1.01 - Ativo Circulante', '1.02 - Ativo Não Circulante',
       '1.02 - Ativo Realizável a Longo Prazo',
       '1.02.01 - Ativo Realizável a Longo Prazo', '2.01 - Passivo Circulante',
       '2.02 - Passivo Não Circulante', '2.03 - Patrimônio Líquido',
       '2.03.08.02 - Lucro/Prejuízo do Exercício', '2.05 - Patrimônio Líquido',
       '2.07 - Patrimônio Líquido'],
      dtype='object', name='CD_DS_CONTA')

In [99]:
# Atualizando o DataFrame com as colunas principais, incluindo o Ativo Realizável a Longo Prazo e Lucro/Prejuízo do Exercício
df_balance_tri_resume_col_res = df_balance_tri_resume_col[[
    'CNPJ_CIA', 
    'DENOM_CIA', 
    'CD_CVM', 
    'DT_FIM_EXERC', 
    '1 - Ativo Total', 
    '1.01 - Ativo Circulante', 
    '1.02 - Ativo Não Circulante',  # Mantendo Ativo Não Circulante
    '1.02 - Ativo Realizável a Longo Prazo',  # Adicionando Ativo Realizável a Longo Prazo
    '1.02.01 - Ativo Realizável a Longo Prazo',  # Adicionando subconta de Ativo Realizável a Longo Prazo
    '2.01 - Passivo Circulante', 
    '2.02 - Passivo Não Circulante', 
    '2.03 - Patrimônio Líquido', 
    '2.03.08.02 - Lucro/Prejuízo do Exercício',  # Adicionando Lucro/Prejuízo do Exercício
    '2.05 - Patrimônio Líquido', 
    '2.07 - Patrimônio Líquido'
]]

In [100]:
# Unificar as colunas de Patrimônio Líquido em uma só, seguindo a ordem de precedência
df_balance_tri_resume_col_res['Patrimonio_Liquido_Unificado'] = (
    df_balance_tri_resume_col_res['2.03 - Patrimônio Líquido']
    .fillna(df_balance_tri_resume_col_res['2.05 - Patrimônio Líquido'])
    .fillna(df_balance_tri_resume_col_res['2.07 - Patrimônio Líquido'])
)

# Unificar as colunas de Ativo Não Circulante, usando Ativo Realizável a Longo Prazo como substituto quando necessário
df_balance_tri_resume_col_res['Ativo_Nao_Circulante_Unificado'] = (
    df_balance_tri_resume_col_res['1.02 - Ativo Não Circulante']
    .fillna(df_balance_tri_resume_col_res['1.02 - Ativo Realizável a Longo Prazo'])
    .fillna(df_balance_tri_resume_col_res['1.02.01 - Ativo Realizável a Longo Prazo'])
)

# Exibir as primeiras linhas para verificar o resultado
df_balance_tri_resume_col_res[['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC', 
                               '1 - Ativo Total', '1.01 - Ativo Circulante', 
                               'Ativo_Nao_Circulante_Unificado',  # Coluna unificada de Ativo Não Circulante
                               '2.01 - Passivo Circulante', '2.02 - Passivo Não Circulante', 
                               'Patrimonio_Liquido_Unificado',  # Coluna unificada de Patrimônio Líquido
                               '2.03.08.02 - Lucro/Prejuízo do Exercício']]  # Incluindo Lucro/Prejuízo do Exercício

CD_DS_CONTA,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,1 - Ativo Total,1.01 - Ativo Circulante,Ativo_Nao_Circulante_Unificado,2.01 - Passivo Circulante,2.02 - Passivo Não Circulante,Patrimonio_Liquido_Unificado,2.03.08.02 - Lucro/Prejuízo do Exercício
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1294187527.00,753744537.00,503082573.00,839101217.00,NaN,71464555.00,NaN
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30,1344627835.00,739026339.00,570702956.00,886841959.00,NaN,69442420.00,NaN
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-09-30,1369739682.00,770692909.00,562762183.00,907583262.00,NaN,78845901.00,NaN
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-03-31,1465549447.00,730302299.00,693122104.00,979510346.00,NaN,72600519.00,NaN
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-06-30,1460958067.00,726631228.00,693581790.00,959522792.00,NaN,71944144.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19699,97.837.181/0001-47,DURATEX S.A.,21091,2015-06-30,7785597.00,2245845.00,5539752.00,996547.00,2178711.00,4610339.00,NaN
19700,97.837.181/0001-47,DURATEX S.A.,21091,2015-09-30,8184089.00,2417760.00,5766329.00,933529.00,2577259.00,4673301.00,NaN
19701,97.837.181/0001-47,DURATEX S.A.,21091,2016-03-31,7726074.00,2060509.00,5665565.00,1064287.00,2184844.00,4476943.00,NaN
19702,97.837.181/0001-47,DURATEX S.A.,21091,2016-06-30,7675312.00,2207580.00,5467732.00,1083777.00,2052541.00,4538994.00,NaN
19703,97.837.181/0001-47,DURATEX S.A.,21091,2016-09-30,7590040.00,2069928.00,5520112.00,860269.00,2160277.00,4569494.00,NaN

In [101]:
# Selecionando as colunas principais, incluindo Ativo_Nao_Circulante_Unificado e Patrimonio_Liquido_Unificado
df_balance_tri_final = df_balance_tri_resume_col_res[[
    'CNPJ_CIA', 
    'DENOM_CIA', 
    'CD_CVM', 
    'DT_FIM_EXERC', 
    '1 - Ativo Total',
    '1.01 - Ativo Circulante', 
    'Ativo_Nao_Circulante_Unificado',  # Coluna unificada de Ativo Não Circulante
    '2.01 - Passivo Circulante',
    '2.02 - Passivo Não Circulante',
    'Patrimonio_Liquido_Unificado'  # Coluna unificada de Patrimônio Líquido
]]

In [102]:
df_balance_tri_final

CD_DS_CONTA,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,1 - Ativo Total,1.01 - Ativo Circulante,Ativo_Nao_Circulante_Unificado,2.01 - Passivo Circulante,2.02 - Passivo Não Circulante,Patrimonio_Liquido_Unificado
0,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-03-31,1294187527.00,753744537.00,503082573.00,839101217.00,NaN,71464555.00
1,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-06-30,1344627835.00,739026339.00,570702956.00,886841959.00,NaN,69442420.00
2,00.000.000/0001-91,BCO BRASIL S.A.,1023,2014-09-30,1369739682.00,770692909.00,562762183.00,907583262.00,NaN,78845901.00
3,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-03-31,1465549447.00,730302299.00,693122104.00,979510346.00,NaN,72600519.00
4,00.000.000/0001-91,BCO BRASIL S.A.,1023,2015-06-30,1460958067.00,726631228.00,693581790.00,959522792.00,NaN,71944144.00
...,...,...,...,...,...,...,...,...,...,...
19699,97.837.181/0001-47,DURATEX S.A.,21091,2015-06-30,7785597.00,2245845.00,5539752.00,996547.00,2178711.00,4610339.00
19700,97.837.181/0001-47,DURATEX S.A.,21091,2015-09-30,8184089.00,2417760.00,5766329.00,933529.00,2577259.00,4673301.00
19701,97.837.181/0001-47,DURATEX S.A.,21091,2016-03-31,7726074.00,2060509.00,5665565.00,1064287.00,2184844.00,4476943.00
19702,97.837.181/0001-47,DURATEX S.A.,21091,2016-06-30,7675312.00,2207580.00,5467732.00,1083777.00,2052541.00,4538994.00
19703,97.837.181/0001-47,DURATEX S.A.,21091,2016-09-30,7590040.00,2069928.00,5520112.00,860269.00,2160277.00,4569494.00

In [103]:
df_balance_tri_final.columns

Index(['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC', '1 - Ativo Total',
       '1.01 - Ativo Circulante', 'Ativo_Nao_Circulante_Unificado',
       '2.01 - Passivo Circulante', '2.02 - Passivo Não Circulante',
       'Patrimonio_Liquido_Unificado'],
      dtype='object', name='CD_DS_CONTA')

In [104]:
df_cnpj_acoes_b3 = pd.read_csv(r"C:\Users\usuario\Desktop\Programacao\financeml\src\data\cnpj_acoes_b3.csv")

In [ ]:
##FIM ---## ##INICIO JUNÇÂO CNJP

In [105]:
df_cnpj_acoes_b3

,CNPJ das empresas listadas na B3,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Ticker,Denominação social,Nome de pregão,CNPJ
1,AALR3,Alliar,CENTRO DE IMAGEM DIAGNOSTICOS S.A.,42771949000135
2,ABCB4,Abc Brasil,BCO ABC BRASIL S.A.,28195667000106
3,ABEV3,Ambev S/A,AMBEV S.A.,07526557000100
4,AERI3,Aeris,AERIS IND. E COM. DE EQUIP. GERACAO DE ENERGIA...,12528708000107
...,...,...,...,...
554,WLMM3,Wlm Ind Com,WLM PART. E COMÉRCIO DE MÁQUINAS E VEÍCULOS S.A.,33228024000151
555,WLMM4,Wlm Ind Com,WLM PART. E COMÉRCIO DE MÁQUINAS E VEÍCULOS S.A.,33228024000151
556,YBRA3B,Ybyra S/A,YBRA3 TENNOLOGIA LTDA,02217319000107
557,YDUQ3,Yduqs Part,YDUQS PARTICIPACOES S.A.,08807432000110
558,ZAMP3,ZAMP S.A.,ZAMP S.A.,13574594000196

In [106]:
# Renomear colunas no segundo dataframe para facilitar a fusão dos datasets
df_cnpj_acoes_b3_clean = df_cnpj_acoes_b3.rename(columns={
    "CNPJ das empresas listadas na B3": "Ticker",
    "Unnamed: 1": "Denominação social",
    "Unnamed: 2": "Nome de pregão",
    "Unnamed: 3": "CNPJ"
})

# Remover a primeira linha que contém os cabeçalhos duplicados
df_cnpj_acoes_b3_clean = df_cnpj_acoes_b3_clean.drop(index=0)

# Corrigir o formato do CNPJ em ambos os dataframes
df_cnpj_acoes_b3_clean['CNPJ'] = df_cnpj_acoes_b3_clean['CNPJ'].str.replace(r'\D', '', regex=True)
df_balance_tri_final['CNPJ_CIA'] = df_balance_tri_final['CNPJ_CIA'].str.replace(r'\D', '', regex=True)

# Realizar o merge dos datasets com base no CNPJ, mantendo o Ticker
df_merged_with_ticker = pd.merge(
    df_balance_tri_final, 
    df_cnpj_acoes_b3_clean[['Ticker', 'CNPJ']], 
    left_on='CNPJ_CIA', 
    right_on='CNPJ', 
    how='inner'
)

# Atualizar o df_balance_tri_final com os dados resultantes do merge
df_balance_tri_final = df_merged_with_ticker

# Exibir dataset resultante
df_balance_tri_final

C:\Users\usuario\AppData\Local\Temp\ipykernel_10908\1656771904.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_balance_tri_final['CNPJ_CIA'] = df_balance_tri_final['CNPJ_CIA'].str.replace(r'\D', '', regex=True)

,CNPJ_CIA,DENOM_CIA,CD_CVM,DT_FIM_EXERC,1 - Ativo Total,1.01 - Ativo Circulante,Ativo_Nao_Circulante_Unificado,2.01 - Passivo Circulante,2.02 - Passivo Não Circulante,Patrimonio_Liquido_Unificado,Ticker,CNPJ
0,00000000000191,BCO BRASIL S.A.,1023,2014-03-31,1294187527.00,753744537.00,503082573.00,839101217.00,NaN,71464555.00,BBAS3,00000000000191
1,00000000000191,BCO BRASIL S.A.,1023,2014-06-30,1344627835.00,739026339.00,570702956.00,886841959.00,NaN,69442420.00,BBAS3,00000000000191
2,00000000000191,BCO BRASIL S.A.,1023,2014-09-30,1369739682.00,770692909.00,562762183.00,907583262.00,NaN,78845901.00,BBAS3,00000000000191
3,00000000000191,BCO BRASIL S.A.,1023,2015-03-31,1465549447.00,730302299.00,693122104.00,979510346.00,NaN,72600519.00,BBAS3,00000000000191
4,00000000000191,BCO BRASIL S.A.,1023,2015-06-30,1460958067.00,726631228.00,693581790.00,959522792.00,NaN,71944144.00,BBAS3,00000000000191
...,...,...,...,...,...,...,...,...,...,...,...,...
14726,97837181000147,DURATEX S.A.,21091,2015-06-30,7785597.00,2245845.00,5539752.00,996547.00,2178711.00,4610339.00,DXCO3,97837181000147
14727,97837181000147,DURATEX S.A.,21091,2015-09-30,8184089.00,2417760.00,5766329.00,933529.00,2577259.00,4673301.00,DXCO3,97837181000147
14728,97837181000147,DURATEX S.A.,21091,2016-03-31,7726074.00,2060509.00,5665565.00,1064287.00,2184844.00,4476943.00,DXCO3,97837181000147
14729,97837181000147,DURATEX S.A.,21091,2016-06-30,7675312.00,2207580.00,5467732.00,1083777.00,2052541.00,4538994.00,DXCO3,97837181000147
14730,97837181000147,DURATEX S.A.,21091,2016-09-30,7590040.00,2069928.00,5520112.00,860269.00,2160277.00,4569494.00,DXCO3,97837181000147

In [107]:
df_balance_tri_final.columns

Index(['CNPJ_CIA', 'DENOM_CIA', 'CD_CVM', 'DT_FIM_EXERC', '1 - Ativo Total',
       '1.01 - Ativo Circulante', 'Ativo_Nao_Circulante_Unificado',
       '2.01 - Passivo Circulante', '2.02 - Passivo Não Circulante',
       'Patrimonio_Liquido_Unificado', 'Ticker', 'CNPJ'],
      dtype='object')

In [108]:
# Reordenar as colunas conforme o que foi solicitado, incluindo Ativo_Nao_Circulante_Unificado
df_balance_tri_final = df_balance_tri_final[[
    'CNPJ', 
    'Ticker', 
    'DENOM_CIA', 
    'CD_CVM', 
    'DT_FIM_EXERC', 
    '1 - Ativo Total', 
    '1.01 - Ativo Circulante', 
    'Ativo_Nao_Circulante_Unificado',  # Incluindo a coluna de Ativo Não Circulante Unificado
    '2.01 - Passivo Circulante', 
    '2.02 - Passivo Não Circulante', 
    'Patrimonio_Liquido_Unificado'
]]

# Exibir DataFrame reorganizado
df_balance_tri_final

,CNPJ,Ticker,DENOM_CIA,CD_CVM,DT_FIM_EXERC,1 - Ativo Total,1.01 - Ativo Circulante,Ativo_Nao_Circulante_Unificado,2.01 - Passivo Circulante,2.02 - Passivo Não Circulante,Patrimonio_Liquido_Unificado
0,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2014-03-31,1294187527.00,753744537.00,503082573.00,839101217.00,NaN,71464555.00
1,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2014-06-30,1344627835.00,739026339.00,570702956.00,886841959.00,NaN,69442420.00
2,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2014-09-30,1369739682.00,770692909.00,562762183.00,907583262.00,NaN,78845901.00
3,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2015-03-31,1465549447.00,730302299.00,693122104.00,979510346.00,NaN,72600519.00
4,00000000000191,BBAS3,BCO BRASIL S.A.,1023,2015-06-30,1460958067.00,726631228.00,693581790.00,959522792.00,NaN,71944144.00
...,...,...,...,...,...,...,...,...,...,...,...
14726,97837181000147,DXCO3,DURATEX S.A.,21091,2015-06-30,7785597.00,2245845.00,5539752.00,996547.00,2178711.00,4610339.00
14727,97837181000147,DXCO3,DURATEX S.A.,21091,2015-09-30,8184089.00,2417760.00,5766329.00,933529.00,2577259.00,4673301.00
14728,97837181000147,DXCO3,DURATEX S.A.,21091,2016-03-31,7726074.00,2060509.00,5665565.00,1064287.00,2184844.00,4476943.00
14729,97837181000147,DXCO3,DURATEX S.A.,21091,2016-06-30,7675312.00,2207580.00,5467732.00,1083777.00,2052541.00,4538994.00
14730,97837181000147,DXCO3,DURATEX S.A.,21091,2016-09-30,7590040.00,2069928.00,5520112.00,860269.00,2160277.00,4569494.00

In [109]:
df_balance_tri_final.to_csv(r'C:\Users\usuario\Desktop\Programacao\financeml\src\data\dados_tratados\df_balancedata_tri_final.csv')

In [110]:
balance_final = pd.read_csv(r'C:\Users\usuario\Desktop\Programacao\financeml\src\data\balance_resume\df_balancedata_tri_final.csv')

In [111]:
balance_final

,CNPJ,Ticker,DENOM_CIA,CD_CVM,DT_FIM_EXERC,1 - Ativo Total,1.01 - Ativo Circulante,Ativo_Nao_Circulante_Unificado,2.01 - Passivo Circulante,2.02 - Passivo Não Circulante,Patrimonio_Liquido_Unificado
0,191,BBAS3,BCO BRASIL S.A.,1023,2014-03-31,1294187527.00,753744537.00,503082573.00,839101217.00,NaN,71464555.00
1,191,BBAS3,BCO BRASIL S.A.,1023,2014-06-30,1344627835.00,739026339.00,570702956.00,886841959.00,NaN,69442420.00
2,191,BBAS3,BCO BRASIL S.A.,1023,2014-09-30,1369739682.00,770692909.00,562762183.00,907583262.00,NaN,78845901.00
3,191,BBAS3,BCO BRASIL S.A.,1023,2015-03-31,1465549447.00,730302299.00,693122104.00,979510346.00,NaN,72600519.00
4,191,BBAS3,BCO BRASIL S.A.,1023,2015-06-30,1460958067.00,726631228.00,693581790.00,959522792.00,NaN,71944144.00
...,...,...,...,...,...,...,...,...,...,...,...
15813,97837181000147,DXCO3,DEXCO S.A.,21091,2023-03-31,13239857.00,3312493.00,9927364.00,2372419.00,4928939.00,5938499.00
15814,97837181000147,DXCO3,DEXCO S.A.,21091,2023-06-30,13638828.00,3202568.00,10436260.00,2789614.00,4816521.00,6032693.00
15815,97837181000147,DXCO3,DEXCO S.A.,21091,2023-09-30,14051331.00,2950952.00,11100379.00,2774281.00,4865476.00,6411574.00
15816,97837181000147,DXCO3,DEXCO S.A.,21091,2024-03-31,14715857.00,3746968.00,10968889.00,2851381.00,5491808.00,6372668.00
15817,97837181000147,DXCO3,DEXCO S.A.,21091,2024-06-30,15276610.00,3644461.00,11632149.00,2986021.00,5716630.00,6573959.00